# Load Dataframe Aceleração

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_acc = pd.read_csv('D:/DR_train/Monitoracao_diagnostico_maquinas/Python/df_acc.csv')

In [4]:
df_acc.groupby('Date').count()

,Daily_passing,Region,Direction,Triaxial_x,Triaxial_y,Triaxial_z,Front_cab_uni,Back_cab_uni
Date,,,,,,,,
2013-11-21,11267943,11267943,11267943,11267943,11267943,11267943,11267943,11267943
2013-12-27,28034558,28034558,28034558,28034558,28034558,28034558,28034558,28034558
2014-01-10,74984295,74984295,74984295,74984295,74592849,74201403,73809957,73418511
2014-01-24,10303063,10303063,10303063,10303063,10303063,10303063,10303063,10303063
2014-02-21,13288451,13288451,13288451,13288451,13288451,13288451,13288451,13288451
2014-03-14,2982090,2982090,2982090,2982090,2982090,2982090,2982090,2982090
2014-04-04,21693183,21693183,21693183,21693183,21693183,21693183,21693183,21693183
2014-04-11,55225097,55225097,55225097,55225097,55225097,55225097,55225097,55225097
2014-04-25,1385583,1385583,1385583,1385583,1385583,1385583,1385583,1385583

In [5]:
df_acc.isna().sum()

Date                   0
Daily_passing          0
Region                 0
Direction              0
Triaxial_x             0
Triaxial_y        391446
Triaxial_z        782892
Front_cab_uni    1174338
Back_cab_uni     1565784
dtype: int64

In [6]:
df_acc = df_acc.dropna()

In [7]:
df_acc = df_acc.reset_index(drop = True)

In [8]:
df_acc.isna().sum()

Date             0
Daily_passing    0
Region           0
Direction        0
Triaxial_x       0
Triaxial_y       0
Triaxial_z       0
Front_cab_uni    0
Back_cab_uni     0
dtype: int64

In [9]:
df_acc

,Date,Daily_passing,Region,Direction,Triaxial_x,Triaxial_y,Triaxial_z,Front_cab_uni,Back_cab_uni
0,2014-01-10,4.0,2.0,1.0,0.004539,0.005754,0.004858,-0.097663,-0.066573
1,2014-01-10,4.0,2.0,1.0,0.004606,0.005193,0.004644,-0.071587,0.022868
2,2014-01-10,4.0,2.0,1.0,0.000596,-0.000278,0.000328,-0.058168,0.084957
3,2014-01-10,4.0,2.0,1.0,0.008501,0.008926,0.008308,-0.080558,0.095356
4,2014-01-10,4.0,2.0,1.0,-0.001642,-0.001351,-0.000995,-0.076774,0.045784
...,...,...,...,...,...,...,...,...,...
217598474,2013-11-21,1.0,2.0,1.0,0.000700,0.000643,0.985388,0.004400,0.012329
217598475,2013-11-21,1.0,2.0,1.0,0.000700,0.000643,1.121367,0.004400,0.012329
217598476,2013-11-21,1.0,2.0,1.0,0.000700,0.000643,1.069745,0.004400,0.012329
217598477,2013-11-21,1.0,2.0,1.0,0.000700,0.000643,0.846696,0.004400,0.012329
217598478,2013-11-21,1.0,2.0,1.0,0.000700,0.000643,-0.022447,0.004400,0.012329